[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==21.9b0"
rope = "==0.21.0"

[packages]
pytest = "==6.2.5"
pytest-bdd = "==4.1.0"
requests = "==2.26.0"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
