[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==20.8b1"
rope = "==0.18.0"

[packages]
pytest = "==6.1.0"
pytest-bdd = "==4.0.2"
requests = "==2.25.0"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
