[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==23.3.0"
rope = "==1.7.0"

[packages]
pytest = "==7.3.0"
pytest-bdd = "==6.1.1"
requests = "==2.28.2"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
